html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.flexel{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body.flexel{
  font-family: 'Montserrat', sans-serif;
  color: white;
  justify-content:flex-start;
  padding-top: 50px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background: #414269;
}

main{
  width: 80%;
  max-width: 900px;
  /* background: orange; */
}
header{
  margin-top: 20px;
  width: 100%;
}
nav.flexel{
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

a{
  transition: .25s;
  opacity: .2;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
  cursor:url(images/zoutstrooier.png), pointer;
}
a:hover, button:hover{
  opacity: 1;
  transform: scale(1.1);
}
button{
  background: none;
  outline: none;
  padding: 3px 10px;
  border: white solid 2px;
  color: white;
  opacity: .2;
}
section{
  width: 80%;
  min-width: 300px;
  margin: 10%;
  position: relative;
}
video{
  /* display: none; */
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: 1.5s;
  user-select: none;
  cursor:url(images/zoutstrooier.png), auto;
}
.start{
  opacity: 1;
}
.border{
  transform-origin: left;
  transition: .4s;
  width: 100%;
  transform: scale(0);
  height: 1px;
  background: rgba(255,255,255,.3);
  box-shadow: 0px 0px 20px 2px rgba(255,255,255,1);
}
.stopLoop{
  position: fixed;
  left: 10px;
  bottom: 10px;
}

.visible{
  /* display: block; */
  opacity: 1;
}


/* Javascript classes for showing all the animations */
.adjustSection{
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.adjustVideo{
  width: 400px;
  position: relative;
  margin: 10px;
}



@media only screen and (max-width: 1000px) {
    nav.flexel{
      flex-direction: column;
    }
    nav.flexel li{
      margin: 10px;
    }
}
