html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.flexel{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body.flexel{
  justify-content:flex-start;
  padding-top: 50px;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: rgba(0,0,0,0.9);
}

main{
  width: 80%;
  max-width: 900px;
  /* background: orange; */
}
header{
  width: 100%;
}
nav.flexel{
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

a{
  transition: .25s;
  opacity: .4;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: white;
  cursor:url(images/zoutstrooier.png), pointer;
}
a:hover{
  opacity: 1;
  transform: scale(1.1);
}
section{
  width: 50%;
  min-width: 200px;
  margin: 10%;
  position: relative;
}
img{
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: .5s;
  user-select: none;
  cursor:url(images/zoutstrooier.png), auto;
}
.border{
  transform-origin: left;
  transition: .4s;
  width: 100%;
  transform: scale(0);
  height: 1px;
  background: rgba(255,255,255,.3);
  box-shadow: 0px 0px 20px 2px rgba(255,255,255,1);
}
.visible{
  opacity: 1;
}

@media only screen and (max-width: 1000px) {
    nav.flexel{
      flex-direction: column;
    }
    nav.flexel li{
      margin: 10px;
    }
}
